# Environments & caches
.venv/
env/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/

# OS files
.DS_Store
Thumbs.db
